.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
}
.header img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    fill: #253a6b;
}
h1{
    color: #253a6b;
}