section{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: bounceIn 0.4s ease-out;
}

.notification-success{
    background-color: #d4edda;
    border: 2px solid #9db9a4;
    color: #155724;
}
.notification-error{
    background-color: #f8d7da;
    border: 2px solid #b69195;
    color: #721c24;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}