.input-search{
    height: 35px;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    padding: 0 10px;
    width: 200px;
}
.btn-add{
    background-color: #f5df66;
    border: none;
    height: 50px;
    width: 95px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    &:hover{
        background-color: #b8a238;
    }
}
.header-product-list{
    background-color: #f9fafc;
    height: 50px;
    font-weight: bold;
}
.product-list{
    background-color: white;
}
.border-b{
    border-bottom: 1px solid #d4d4d4;
}
.product-logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
.menu{
    cursor: pointer;
    height: 40px;
    width: 40px;
    &:hover{
        background-color: #f4f4f4;
        border-radius: 50%;
    }
}
.menu-icon{
    width: 25px;
    height: 25px;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
.btn-pagination{
    background-color: #1b1b1b00;
    border: 1px solid #3f3f3f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    &:disabled{
        cursor: not-allowed;
        border: 1px solid #d3d3d3;
        opacity: 0.7;
    }
}

.dropdown {
    width: 200px;
}

summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-radius: 6px;
}

summary::-webkit-details-marker {
    display: none;
}

.dropdown ul {
    margin: 4px 0 0;
    position: absolute;
    padding: 0;
    list-style: none;
    background-color: white;
    border: 1px solid #1d1d1d;
    border-radius: 6px;
}

.dropdown li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    &:hover {
        background-color: #f4f4f4;
        border-radius: 6px;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: 12px;
    padding: 20px;
    width: 450px;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.btn-modal{
    width: 180px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(18, 18, 92);
    font-weight: bolder;
    font-size: 14px;
}
.cancelar-modal{
    background-color: #d4d4d4;
    &:hover{
        background-color: #a9a9a9;
    }
}
.eliminar-modal{
    background-color: #f5df66;
    &:hover{
        background-color: #b8a238;
    }
}

@media (max-width: 600px){
    .bottom-list{
        font-size: 12px;
    }
    .btn-pagination{
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-size: 17px;
        margin: 0 10px;
    }
}