<section class="d-flex justify-center align-center flex-column mt-sm w-100">
    <div class="container w-100">
        <div class="d-flex justify-between align-center w-100">
            <input class="input-search" type="text" placeholder="Search..." (input)="search($event)"/>
            <button class="btn-add" routerLink="/Registrar-productos">Agregar</button>
        </div>
        <div class="bg-white w-100 mt-xsm d-flex flex-column justify-center align-start p-sm">
            <div class="w-100 coverflow-x-scroll">
                <div class="container-full-width d-flex justify-center align-center flex-column w-100">
                    <div class="d-flex w-100 header-product-list border-b">
                        <div class="w-mm d-flex justify-center align-center"><p>Logo</p></div>
                        <div class="w-mm d-flex justify-start align-center px-xsm"><p>Nombre del producto</p></div>
                        <div class="w-mm d-flex justify-start align-center px-xsm"><p>Descripción</p></div>
                        <div class="w-mm d-flex justify-start align-center px-xsm"><p>Fecha de liberación</p></div>
                        <div class="w-mm d-flex justify-start align-center px-xsm"><p>Fecha de reestructuración</p></div>
                        <div class="w-xsm d-flex justify-center align-center"></div>
                    </div>
                    @if (productos.length > 0){
                        @for (producto of pagedProducts; track producto.id; let i = $index) {
                            <div class="d-flex w-100 flex-row justify-center align-center py-sm border-b">
                                <div class="w-mm d-flex justify-center align-center"><img [src]="producto.logo" alt="{{ producto.name }} Logo" (error)="producto.logo = 'icons/assets-1.png'" class="product-logo" /></div>
                                <div class="w-mm d-flex justify-start align-center px-xsm"><p>{{ producto.name }}</p></div>
                                <div class="w-mm d-flex justify-start align-center px-xsm"><p>{{ producto.description }}</p></div>
                                <div class="w-mm d-flex justify-start align-center px-xsm"><p>{{ producto.date_release | dateFormat }}</p></div>
                                <div class="w-mm d-flex justify-start align-center px-xsm"><p>{{ producto.date_revision | dateFormat }}</p></div>
                                <!-- <div class="w-xsm d-flex justify-center align-center"><span class="menu d-flex justify-center align-center"><img src="icons/three-dots-vertical.svg" class="menu-icon" alt=""></span></div> -->
                                <div class="w-xsm d-flex justify-center align-center">
                                    <button  cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggleDropdown(producto, trigger)" class="dropdown">
                                        <span class="menu d-flex justify-center align-center"><img src="icons/three-dots-vertical.svg" class="menu-icon" alt=""></span>
                                    </button>
                                </div>
                            </div>
                        }
                    }@else{
                        <p class="p-sm">No hay productos disponibles.</p>
                    } 
                </div>
            </div>
            <div class="w-100 mt-xsm">
                <div class="d-flex flex-row justify-between align-center w-100 bottom-list">
                    <p>{{ cantidadProductos }} Resultados</p>
                    <div class="pagination">
                        <button (click)="changePage(currentPage - 1)"
                                [disabled]="currentPage === 1" class="btn-pagination">
                            <
                        </button>

                        <span>Página {{ currentPage }} de {{ totalPages }}</span>

                        <button (click)="changePage(currentPage + 1)"
                                [disabled]="currentPage === totalPages" class="btn-pagination">
                            >
                        </button>
                    </div>
                    <label>
                        <select
                            [value]="pageSize"
                            (change)="onPageSizeChange(+$any($event.target).value)"
                        >
                            @for (size of pageSizeOptions; track size) {
                            <option [value]="size">{{ size }}</option>
                            }
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <dialog #dialog class="modal">
        <p class="mb-sm">¿Estás seguro de que deseas eliminar el producto <b>{{ nombreProducto }}</b>?</p>
        <hr>
        <div class="d-flex flex-row justify-between align-center w-100 py-sm">
            <button class="btn-modal cancelar-modal" (click)="close()"><b>Cancelar</b></button>
            <button class="btn-modal eliminar-modal" (click)="confirmDelete()"><b>Confirmar</b></button>
        </div>
    </dialog>
    <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="currentTrigger"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="closeDropdown()"
    >
        <div class="dropdown-menu">
            <ul>
                <button (click)="openEdit()">Editar</button>
                <hr>
                <button (click)="openDelete()">Eliminar</button>
            </ul>
        </div>
    </ng-template>
</section>